body
{
	margin: 0;
	font-family: sans-serif;
    width: 940px;
    background: #f0f0f0;
}
}

header
{
  width: 100%;
  background: #4E94AB;
}

header{
	max-width: 1280%;
	height: 40px;
	background: #f2f2f2;
	box-shadow: 1px 1px 5px #000;
}

#menu{
	padding-top: 10px;
	width: 600px;
	margin:20px auto;
}

#menu ul a{
	color:#6e6e6e;
	text-decoration:none;
	font:bold 16px arial;
	padding:12px 20px 12px 20px;
	background: #fff;
	border-bottom: 8px solid transparent;
	-webkit-transition: border-bottom .7s;
	-moz-transition: border-bottom .7s;
	-o-transition: border-bottom .7s;
}

#menu ul a:hover{
	border-bottom: 8px solid #6e6e6e;
}
/*
#btn-menu
{
	display: none;
}
*/
/*

header label
{
	display: none;
	width: 30px;
	height: 30px;
	padding: 10px;
	border-right: 1px solid #fff;
}

header label:hover
{
	display: none;
	cursor: pointer;
	background: rgba(0,0,0,0.3);
	padding: 0;
}
nav{
	position: absolute;
	top: 0;
	margin-bottom: 10px;
	width: 100%;
	padding: 3px;
	background-color: rgba(0,0,0,.3);
}*/
/*
.menu ul{
	list-style: none;
	padding: 0;
   display: flex;
}

nav ul li{
	display: inline-block;
	margin: 0;
	background-color: red;
	justify-content: flex-end;

}

.menu li{
	border-right: 1px solid #fff;
	flex-grow: 1;
}

.menu li:hover {
	background: rgba(0,0,0,0.3);
}
.menu li a {
	display: block;
	padding: 15px, 20px;
	color: #fff;
	text-decoration: none;
}
*/


@media(max-width: 768px){

	header label {
      display: block;
	}

	.menu {
		position: absolute;
		background: #4E94AB;
		width: 70%;
		margin-left: -70%;
	}

	.menu ul {
		flex-direction: column;
	}

	.menu li {
		border-top: 1px solid#fff;
	}

	#btn-menu:checked ~ .menu{
		margin: 0;
	}


}




/*
@media(max-width: 768px){
	img{
		display: block;
	}

	

.two-columns {
width: 48%;
display: inline-block;
}

breakpoint  {
max-width: 100%;
display: inline-block;
}
/* 2 columnas para tablets */
/*@media (min-width: 420px) {
breakpoint  {
max-width: 48%;
}
}*/
/* 4 columnas para grandes dispositivos*/
/*@media (min-width: 760px) {
breakpoint  {
max-width: 24%;
}
}
}
*/