*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#estilo{
	width: 100%;
	height: 250px;
	background-image: url("img/3.jpg");
	text-align: bottom;
}

header h1 h3{
    margin-left: 15px;
	margin-bottom: 10px;
	text-align: bottom;
    bottom: 0px;
    left:10px;
    text-align: center;
}

img{
	position: relative;

	width: 280px;
	height: 250px;
}

#principal{
	background-image: url("menu/img/images.jpg" );
}

#contenedor{
	max-width: 100%;
	display: flex;

}

#uno{
	width: 33%;
	height: 300px;
	float: left;
}

#dos{

	width: 33%;
	height: 300px;
	float: left;

}

#tres{
	width: 33%;
	height: 300px;
	float:left;
}

footer{
    width: 100%
    height: 250px;
    background-color: gray;
	float: none;
	clear: both;
}

section{
	width: 100%;
	height: 40px;
	background: #f2f2f2;
	box-shadow: 1px 1px 5px #000;

}


#menu{
	padding: 10px;
	padding-top: 15px;
	width: 1280px auto;
	height: 15px
	margin:18px auto;
	display: flex;
}

#menu ul a{
	color:#6e6e6e;
	text-decoration:none;
	font:bold 16px arial;
	padding:12px 20px 12px 20px;
	background: #fff;
	border-bottom: 8px solid transparent;
	-webkit-transition: border-bottom .7s;
	-moz-transition: border-bottom .7s;
	-o-transition: border-bottom .7s;
}

#menu ul a:hover{
	border-bottom: 8px solid #6e6e6e;
}
/*
header{
	width: 100%;
	height: 100px;
	margin:5px;
	padding: 4px;
	background: #f2f2f2;
	box-shadow: 1px 1px 5px #000;
	border-color: black;
	text-decoration-line: none;
}*/

/*Comentarios*/

/**
* Oscuro: #283035;
* Azul: #03658c;
* Detalle: #c7cacb;
* Fondo: #dee1e3; 
*/


a{
	color: #03658c;
	text-decoration: none;
}

ul{
	list-style-type: none;
}

body{
	font-family: 'Roboto', arial, Helvetica, Sans-serif, Verdana;
	background: #dee1e3;
}

/**
*lista de comentarios
*/

.comments-container {
	margin: 60px auto 15px;
	width: 768px;
}

.comments-container h1 {
	font-size: 36px;
	color: #283035;
	font-weight: 400;
}

.comments-container h1 a {
	font-size: 18px;
	font-weight: 700px;
}

.comments-list {
	margin-top: 30px;
	position: relative;
}

/*
*Lineas /Detalles
*/
.comments-list:before {
    content: '';
    width: 2px;
    height: 100%;
    background: #c7cacb;
    position: absolute;
    left: 32px;
    top: 0;
}

.comments-list:after {
    content: '';
    position: absolute;
    background: #c7cacb;
    bottom: 0;
    left: 27px;
    width: 7px;
    height: 7px;
    border: 3px solid #dee1e3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.reply-list:before, .reply-list:after {
    display: none;
}

.reply-list li:before{
    content: '';
    width: 60px;
    height: 2px;
    background: #c7cacb;
    position: absolute;
    top: 25px;
    left: -55px;
}

.reply-list:after {

}

.comments-list li {
     margin-bottom: 15px;
     display: block;
     position: relative;
}

.comments-list li:after {
	content: '';
	display:block;
	clear: both;
	height: 0;
	width: 0;
}

.reply-list {
	padding-left: 88px;
	clear: both;
	margin-top: 15px;
}

/*
*Avatar
*/

.comments-list .comment-avatar {
	width: 65px;
	height: 65px;
	position:relative;
	z-index: 99;
	float: left;
	border:3px solid #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	overflow: hidden;
}

.comments-list .comment-avatar img{
	width: 100%;
    height: 100%;
}

.reply-list .comment-avatar {
	width: 50px;
	height: 50px;
}

.comment-main-level:after {
     content: '';
     width: 0;
     height: 0;
     display: block;
     clear: both;
}

/*
*Caja de comentario
*/
.comments-list .comment-box {
	width: 680px;
	float: right;
	position: relative;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
/*Se usa para hace triangulos
*/
.comments-list .comment-box:before, .comments-list .comment-box:after{
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent #FCFCFC;
	top: 8px;
	left: -11px;
}

.comments-list .comment-box:before {
	border-width: 11px 13px 11px 0;
	border-style: solid;
	border-color: transparent rgba(0,0,0,0.05);
	left: -12px;
}

.reply-list .comment-box {
	width: 610px;
}

.comment-box .comment-head {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
	float: right;
	margin-left: 14px;
	position: relative;
	top: 2px;
	color: #A6A6A6;
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition:color 0.3s ease;
	transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
    color: #03658c;
}

.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700px;
	float: left;
	margin-right: 10px;
}

.comment-box .comment-name a {
	color: #283035;
}

.comment-box .comment-head span {
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.comment-box .comment-content {
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {
    color: #03658c;
} 

.comment-box .comment-name.by-author:after {
	content: 'autor';
	background: #03658c;
	color: #FFF;
	font-size: 12px;
	padding: 3px 5px;
	font-weight: 700px;
	margin-left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}


/* ===================
  * Responsive
===================== */ 

@media only screen and(max-width: 766px){
	.comments-container {
		width: 480px;
	}
	.comments-list .comment-box {
		width: 390px;
	}

	.reply-list .comment-box {
		width: 320px;
	}
}

/*
*nUEVO MENU


nav{
			float: left;
			width: 98%;
			background-color: transparent;

		}

		nav ul li{
			display: inline-block;
			margin-right:30px;
			color: white;
			font-weight: bold;
		}
		*/